nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0%;
    bottom: 100%;
    width: 100%;
    position: relative;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}

#sign-in {
    background-color: rgb(61, 61, 243);
    color: white;
    border-radius: 10px;
    padding: 8px;
}

#sign-in:hover {
    text-decoration: dashed;
    background-color: rgb(65, 65, 233);
    box-shadow: 0 0 15px 5px #d3d3d3;
}

#apps:hover {
    background-color: #e8e8e8;
    text-decoration: none;
    border-radius: 20px;
    box-shadow: 0 0 15px 5px #d3d3d3;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
    font-family: "Arial", sans-serif;
    font-size: 16px;
    margin-right: 40px;
    margin-left: 1px;
}

#nav-images {
    display: flex;
    list-style: none;
    gap: 20px;
    font-family: "Arial", sans-serif;
    font-size: 16px;
    text-align: right;
}

body {
    min-height: 97vh;
}

#body_image {
    align-items: center;
    margin: auto;
    display: flex;
    margin-top: 05%;
    margin-bottom: 50px;
    width: 300px;
    height: 100px;
}

#search-input {
    width: 500px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    font-size: 16px;
    border-radius: 25px;
    text-align: left;
}

#images-input {
    width: 500px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 1px;
    font-size: 16px;
    border-radius: 25px;
    text-align: left;
    align-items: center;
    margin-top: 0px;
}

#search-button,
#lucky-button,
#images div,
#index div {
    padding: 10px 50px;
    border: 5px solid #ccc;
    border-radius: 5px;
    align-items: center;
    text-align: center;
    border: 10px;
    column-gap: 10px;
    font-family: "Arial", sans-serif;
    color: black;
    font-size: 14px;
}

#search-button:hover,
#lucky-button:hover {
    background-color: #ccc;
    text-decoration: dashed;
    align-content: start;
}

footer {
    display: flex;
    justify-content: space-between;
    background-color: #ccc;
    bottom: 0%;
    width: 100%;
    position: fixed;
}

footer ul {
    display: flex;
    list-style: none;
    gap: 20px;
    margin-right: 40px;
    margin-left: 1px;
    font-family: "Arial", sans-serif;
    color: black;
    font-size: 16px;
}

#logo_advanced {
    padding: 0px;
    width: auto;
    height: 30px;
}

button {
    cursor: pointer;
}

/* Advanced search */

#advaced_title {
    margin: 30px;
    font-family: "Arial", sans-serif;
    font-size: 20px;
    color: rgb(243, 72, 72);
}

h3 {
    margin-top: 80px;
}

.advanced_search {
    margin: 30px;
    font-family: "Arial", sans-serif;
}

/* #advanced-search-button {
    cursor: pointer;
    margin-left: auto; 
    text-align: right; 
} */

.row-input {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.left-label {
    width: 200px;
    font-size: 13px;
}

.input-form {
    width: 385px;
    padding: 5px;
    display: flex;
}

/* .input-form-number {
    width: 175px; 
    padding: 5px;
    display: inline-block;
    align-items: center;
    
} */

span {
    display: inline-block; 
}


.page-container {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 20px; 
    padding: 10px;
}

.column {
    padding: 10px;
    border: 1px solid #ccc; 
}

.first-column {
    text-align: left; 
}

.advanced-button {
    display: flex;
    justify-content: flex-end;
    width: 598px; 
}

#advanced-search-button {
    cursor: pointer;
    padding: 8px 40px;
    background: #ccc;
    background-color: #2a7afb;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}
