body {
    margin: 0; 
    font-family: sans-serif;
}
a {
   text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.body-container {
    display: flex;
}

img {
    width: 90%;
    height: auto;
    display: flexbox;
}
.wiki-title h2, h6 {
    text-align: center;
    padding: 0;
    margin: 0;
    line-height: 1;
    display: flexbox;
    width: 95%;
    font-family: 'Times New Roman', Times, serif;
}
h6 {
    font-weight: normal;
}
#left-column {
    background-color: rgb(218, 218, 218);
    width: 15%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

.home {
    padding-top: 12px;
}
.text-home {
    text-align: left;
    display: flexbox;
    margin-left: 10px;
    padding-top: 80px;
    line-height: 1.5;
    font-size: 18px;
}
.form-control-search {
    border-color: black;
    padding: 3px;
    border-radius: 5px;
    margin-right: 5px;
    width: 85%;   
}
#search-button {
    background-color: rgb(61, 61, 243);
    color: white;
    border-radius: 06px;
    padding: 4px;
    width: 90%;
    cursor: pointer;
    border: 1px;
    
}
#search-button:hover {
    background-color: #707efd;
    text-decoration: dashed;
}


/* right column */
.right-column {
    height: 85vh;
    width: 100%;
    display: flexbox;
    margin-top: 0;
    margin-left: 210px;
}

.main-page {
    padding: 20px;

}

.form-control {
    width: 95%;
    border-color: black;
    padding: 5px;
    border-radius: 5px;
    margin: 10px;
}
#save-button {
    background-color: rgb(61, 61, 243);
    color: white;
    padding: 10px 50px;
    border-radius: 5px;
    align-items: center;
    border: 10px;
    column-gap: 10px;
    font-family: "Arial", sans-serif;
    font-size: 16px;
    cursor: pointer;
}

#save-button:hover {
    background-color: #707efd;
    text-decoration: dashed;
}

.entry-button, .edit-button {
    background-color: rgb(61, 61, 243);
    color: white;
    padding: 10px 50px;
    border-radius: 5px;
    align-items: center;
    border: 10px;
    column-gap: 10px;
    font-family: "Arial", sans-serif;
    font-size: 16px;
    cursor: pointer;
}

.entry-button:hover, .edit-button:hover {
    background-color: #707efd;
    text-decoration: dashed;
}