{% extends "auctions/layout.html" %}

{% block body %}
<div class="nav-bar2">
  <h2>Listings in {{ category_name }}</h2>
</div>
<div class="container-listings">
  <ul>
    <div class="listings">
      {% for listing in listings %}
      {% if listing.is_active %}
      <div class="listing">
        <div class="listing-image">
          {% if listing.image_url %}
          <img class="image" src="{{ listing.image_url }}" alt="{{ listing.tile }}">
          {% else %}
          <p>No image available.</p>
          {% endif %}
        </div>
        <div class="listing-info">
          <li> <a href="{% url 'commerce:listing' listing.id %}">
              <h2>{{ listing.title }}</h2>
            </a>
            <h3>Price: ${{ listing.starting_bid }}</h3>
            <p>Created: {{listing.created_date}}</p>
          </li>
        </div>
      </div>
      {% endif %}
      {% endfor %}
    </div>
  </ul>
</div>
{% endblock %}